* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif
}

#display {
    width: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 7vmin;
}

#instructions {
    width: 80vmin;
    margin-bottom: 30vmin;
    text-align: center;
}

h1 {
    padding: 7vmin;
    font-size: 7vmin;
}

#tokens, #guess-row {
    display: flex;
    justify-content: center;
}

#tokens > div, #guess-row > div {
    height: 12vmin;
    max-height: 100px;
    max-width: 100px;
    width: 12vmin;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1vmin;    
}

ol {
    display: inline-block; 
    text-align: left; 
    padding: 5px 30px
}

p {
    display: inline-block;
}

p, ol {
    font-size: 20px;
}

#play-btn, #guess-btn {
    padding: 5vmin;
    margin: 5vmin;
    font-size: 5vmin;
    border-radius: 25px;
}

#selection {
    display: flex;
    justify-content: center;
    margin-bottom: 4vmin;
}

#selection > div {
    margin: 1vmin;
    height: 10vmin;
    width: 10vmin;
    border: 1px solid black;
    border-radius: 50%;
}

#buttons {
    

}

.guess {
    
}