* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(142, 71, 53, 1);
}

#display {
    width: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 7vmin;
}

#instructions {
    width: 80vmin;
    margin-bottom: 30vmin;
    text-align: center;
}

h1 {
    padding: 7vmin;
    font-size: 7vmin;
}

#tokens, #guess-row {
    display: flex;
    justify-content: center;
}

#tokens > div, #guess-row > div {
    height: 12vmin;
    max-height: 75px;
    max-width: 75px;
    width: 12vmin;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1vmin;
}

ol {
    display: inline-block; 
    text-align: left; 
    padding: 5px 30px
}

p {
    display: inline-block;
}

p, ol {
    font-size: 20px;
}

#play-btn, #guess-btn, #replay-btn{
    padding: 5vmin;
    margin: 5vmin;
    font-size: 5vmin;
    border-radius: 25px;
}

#guess-btn, #replay-btn {
    visibility: hidden;
}

#selection {
    display: flex;
    justify-content: center;
    margin-bottom: 4vmin;
}

#selection > div {
    margin: 1vmin;
    height: 10vmin;
    width: 10vmin;
    max-width: 60px;
    max-height: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

.markers {
    display: flex;
    justify-content: space-between;
    margin: 0 3vmin;
}

#guess-row {
    margin-top: 25px;
}

#old-guess {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
}

#old-guess > .markers > div{
    border: 1px solid black;
    border-radius: 50%;
    height:5vmin;
    width: 5vmin;
    max-height: 30px;
    max-width: 30px;
}

.prev-guess {
    display: flex;
    justify-content: space-between;
}

#old-guess > .prev-guess > div{
    margin: 1vmin;
    height: 12vmin;
    width: 12vmin;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 3px;
    max-height: 75px;
    max-width: 75px;
}

#Black, #one, .C-1 {
    background-color: rgba(0, 0, 0, 1);
}

#White, .C-2 {
    background-color: rgba(240, 240, 240, 1);
}

#Red, #three, .C-4 {
    background-color: rgba(217, 0, 0, 1);
}

#Orange, .C-5 {
    background-color: rgba(255, 136, 0, 1);
}

#Yellow, #two, .C-6 {
    background-color: rgba(235, 238, 63, 1);

}

#Green, #five, .C-7 {
    background-color: rgba(33, 128, 82, 1);

}

#Blue, #four, .C-8 {
    background-color: rgba(30, 181, 227, 1);

}

#Brown, .C-3 {
    background-color: rgba(168, 140, 78, 1);
}

.M-1 {
    background-color: black;
}

.M-2 {
    background-color: white;
}

.M-3 {
    background-color: transparent;
}

#winner {
    visibility: hidden;
    position: absolute;
    top: 30%;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(215, 158, 3);
    font-size: 50px;
}


@media only screen and (min-width: 40em) {
    #guess-btn, #replay-btn{
        padding: 20px;
        margin: 3vmin;
    }

    #instructions {
        width: 80vmin;
        margin-bottom: 20vmin;
        text-align: center;
    }
}

#Black:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#White:hover {
    background-color: rgba(240, 240, 240, 0.5);
}

#Brown:hover {
    background-color: rgba(168, 140, 78, 0.5);
}

#Red:hover {
    background-color: rgba(217, 0, 0, 0.5);
}

#Orange:hover {
    background-color: rgba(255, 136, 0, 0.5);
}

#Yellow:hover {
    background-color: rgba(235, 238, 63, 0.5);
}

#Green:hover {
    background-color: rgba(33, 128, 82, 0.5);
}

#Blue:hover {
    background-color: rgba(30, 181, 227, 0.5);
}