* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(142, 71, 53, 1);
}

#display {
    width: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 7vmin;
}

#instructions {
    width: 80vmin;
    margin-bottom: 30vmin;
    text-align: center;
}

h1 {
    padding: 7vmin;
    font-size: 7vmin;
}

#tokens, #guess-row {
    display: flex;
    justify-content: center;
}

#tokens > div, #guess-row > div {
    height: 12vmin;
    max-height: 100px;
    max-width: 100px;
    width: 12vmin;
    border: 1px solid black;
    border-radius: 50%;
    margin: 1vmin;
    /* background-color: rgba(105, 52, 38, 1); */
}

ol {
    display: inline-block; 
    text-align: left; 
    padding: 5px 30px
}

p {
    display: inline-block;
}

p, ol {
    font-size: 20px;
}

#play-btn, #guess-btn{
    padding: 5vmin;
    margin: 5vmin;
    font-size: 5vmin;
    border-radius: 25px;
}

#guess-btn {
    visibility: hidden;
}

#selection {
    display: flex;
    justify-content: center;
    margin-bottom: 4vmin;
}

#selection > div {
    margin: 1vmin;
    height: 10vmin;
    width: 10vmin;
    border: 1px solid black;
    border-radius: 50%;
}

.markers {
    display: flex;
    justify-content: space-between;
    margin: 0 3vmin;
}

#guess-row {
    margin-top: 25px;
}

#old-guess > .markers > div{
    border: 1px solid black;
    border-radius: 50%;
    height: 6vmin;
    width: 6vmin;
    max-height: 100px;
    max-width: 100px;

}

.prev-guess {
    display: flex;
    justify-content: space-between;
}

#old-guess > .prev-guess > div{
    margin: 1vmin;
    height: 12vmin;
    width: 12vmin;
    border: 1px solid black;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 3px;
    max-height: 100px;
    max-width: 100px;
}

#Black, #one {
    background-color: rgba(0, 0, 0, 1);
}
#White {
    background-color: rgba(240, 240, 240, 1);

}

#Red, #three {
    background-color: rgba(217, 0, 0, 1);
}

#Orange {
    background-color: rgba(255, 136, 0, 1);
}

#Yellow, #two {
    background-color: rgba(235, 238, 63, 1);

}

#Green, #five {
    background-color: rgba(33, 128, 82, 1);

}

#Blue, #four {
    background-color: rgba(30, 181, 227, 1);

}

#Brown {
    background-color: rgba(168, 140, 78, 1);
}

